{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Servicios</title>

    <body style="background-color: #0F3460; color: aliceblue;">

    <div class="container py-3">
        <h2 class="text-start text-tertiary mb-4">Nuestros Servicios</h2>
        <div class="row g-4">
            <!-- Tarjeta de Escaneo de Vulnerabilidades -->
            <div class="col-lg-8">
                <div class="card bg-dark text-white border-0" style="border-radius: 40px; overflow: hidden;">
                    <img src="{% static '/img/escaneo-vulnerabilidad.webp' %}" alt="Seguridad informática" class="featurette-image img-fluid mx-auto opacity-50" width="723" height="700" style="border-radius: 40px;">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <a href="/nuevo_escaneo/" class="text-white" style="text-decoration: none;">
                        <h3 class="card-title">
                            Escaneo de Vulnerabilidades
                        </h3>
                        </a>
                    </div>
                </div>
            </div>
        

            <!-- Tarjeta de Protección de Datos -->
            <div class="col-lg-4">
                <div class="card bg-dark text-white h-100 rounded-3 overflow-hidden">
                    <img src="{% static '/img/phishing.webp' %}" alt="Seguridad informática" class="featurette-image img-fluid w-100 h-100" style="object-fit: cover; opacity: 0.5;">
                    <a href="/blog/" class="text-white" style="text-decoration: none;">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        
                            <h3 class="card-title">Cómo evitar el phishing</h3>
                        </div>
                    </a>
                </div>
            </div>
            

            <!-- Tarjeta de Auditorías -->
            <div class="col-lg-5">
                <div class="card bg-dark text-white h-100"><a href="/contactanos/" class="text-white" style="text-decoration: none;">
                    <img src="{% static '/img/servicios-au.jpg' %}" alt="Seguridad informática" class="featurette-image img-fluid mx-auto opacity-50" width="600" height="700">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <h3 class="card-title">Auditorías</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- CTA: Las últimas noticias sobre ciberseguridad -->
            <div class="col-lg-7">
                <div class="card bg-dark text-white h-100"><a href="/blog/" class="text-white" style="text-decoration: none;">
                    <img src="{% static '/img/servicios-not.webp' %}" alt="Seguridad informática" class="featurette-image img-fluid mx-auto opacity-50" width="550" height="900">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <h3 class="card-title">Últimas noticias sobre ciberseguridad</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

<style>
    .featurette-image {
        border-radius: 40px;
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
    }
</style>
    
    </body>
</html>
{% endblock %}